:root {
  --prmary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-hover: #188ce8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --text-whte: #ffffff;
  --logo-color-black: #000000;
  --header-border: rgba(236, 236, 236, 1);
  --hero-background: #2f303a;
  --client-logo: #afb1b8;
  --contact-icon-color: #757575;
  --specialization-bg-color: rgba(47, 48, 58, 0.8);
  --specialization-text-color: #ffffff;
  --soc-icon-bg-color: #ffffff;
  --soc-icon-color: #afb1b8;
  --soc-icon-hover-color: #ffffff;
  --footer-soc-bg-color: rgba(255, 255, 255, 0.1);
  --foorer-soc-icon-color: #ffffff;
  --foorer-soc-title-color: #ffffff;
  --overlay-tect-color: #ffffff;
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --modal-close-btn: #000000;
  --modal-close-bg: #ffffff;
  --modal-border-color: rgba(0, 0, 0, 0.1);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --form-icons-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background: #f5f4fa;
  --future-icon-bg: #f5f4fa;
  --footer-background: #2f303a;
  --footer-form-input-placeholder: rgba(255, 255, 255, 0.6);
  --footer-form-input: #ffffff;
  --footer-form-input-border: rgba(255, 255, 255, 0.3);
  --backdrop-background: rgba(2, 2, 2, 0.2);
  --modal-bg-color: #ffffff;
  --check-off-border: #212121;
  --check-off-bg: #ffffff;
  /* ----------------------------------------------- */
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------- reset & utilitys ---------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------------------------------------- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  margin: 0;

  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--prmary-text-color);
  background-color: var(--primary-background-color);
}

/* ----------------header---------------- */

.logo {
  text-decoration: none;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color-black);
}

.logo-dec {
  color: var(--accent-color);
}

/* ----------------header-nav------------ */

.header {
  border: 1px var(--header-border);
  border-style: none none solid none;
  background-color: var(--primary-background-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav .nav-iteam:not(:first-child) {
  margin-left: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms var(--cubic-bezier);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.menu-link {
  position: relative;
}
.menu-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 250ms var(--cubic-bezier);
}
.menu-link:hover::after {
  transform: scaleX(1);
}
/* --------------------header contact---- */

.header-contact-iteams .contact-iteam:not(:first-child) {
  margin-left: 50px;
}

.header-contact-iteams .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--prmary-text-color);

  transition: color 250ms var(--cubic-bezier);
}

.header-contact {
  display: flex;
}

.header-contact-iteams {
  display: flex;
  margin-left: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-iteam .active-link {
  position: relative;
  color: var(--accent-color);
}
.active-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* -------------------contact-icon--------*/

.contact-link {
  justify-content: center;
  align-items: center;
}

.contact-icon {
  fill: var(--contact-icon-color);
  transition: fill 250ms var(--cubic-bezier);
}
.contact-text {
  margin-left: 10px;
}
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}
/* -------------------Hero----------------*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--hero-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-whte);
}

.hero-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  color: var(--text-whte);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--cubic-bezier);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

/* ------------------feature-icon-------------------- */

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--future-icon-bg);
}
/* -----------------feature-------------- */

.feature {
  padding-top: 94px;
}

.feature-list {
  display: flex;
}

.feature-iteam {
  width: 270px;
}

.feature-iteam:not(:first-child) {
  margin-left: 30px;
}

.feature-title {
  padding-top: 30px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  margin-top: 10px;

  line-height: 1.7;
  letter-spacing: 0.03em;
  white-space: normal;

  color: var(--prmary-text-color);
}

/* -----------------specialization--------*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-iteams {
  display: flex;
  margin-top: 50px;
  text-align: center;
}
.section-iteam:not(:first-child) {
  margin-left: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* -------------------------------------------- */

.label {
  position: relative;
}

.label-text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--specialization-text-color);

  width: 100%;
  height: 70px;

  background-color: var(--specialization-bg-color);
}
/* -----------------team------------------*/

.saction-team {
  background-color: var(--secondary-background);
}

.text-content {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}

.name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--title-text-color);
}

.team-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* ---------------soc-icon-list---------- */

.soc-icon-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.soc-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--soc-icon-bg-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--cubic-bezier);
}

.soc-icon-iteam:not(:first-child) {
  margin-left: 10px;
}

.soc-icon {
  fill: var(--soc-icon-color);
  transition: fill 250ms var(--cubic-bezier);
}

.soc-icon-link:hover,
.soc-icon-link:focus {
  background-color: var(--accent-color);
}
.soc-icon-link:hover .soc-icon,
.soc-icon-link:focus .soc-icon {
  fill: var(--soc-icon-hover-color);
}

/* ---------------clients-list----------- */

.clients-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.clients-iteam:not(:first-child) {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--client-logo);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms var(--cubic-bezier);
}

.client-logo {
  fill: var(--client-logo);
  transition: fill 250ms var(--cubic-bezier);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .client-logo,
.clients-link:focus .client-logo {
  fill: var(--accent-color);
}

/*------------------flter portfolo--------*/

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background);

  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);

  cursor: pointer;
}

.filter-iteam:not(:first-child) {
  margin-left: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--text-whte);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------------portfolio-------- */

/* -------------------overlay---------- */

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--overlay-background-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}

.project-overlay-text {
  position: absolute;
  width: 322px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--overlay-tect-color);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0) 250ms var(--cubic-bezier);
}

/* ------------------------------------ */
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.project-iteam {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-iteam:nth-child(3n) {
  margin-right: 0px;
}

.project-iteam:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-category {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.8;

  color: var(--prmary-text-color);
}

.text-content-iteam {
  border: 1px var(--header-border);
  border-style: none solid solid solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: var(--primary-background-color);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*----------------footer------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background);
}
.footer-main {
  display: flex;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--text-whte);
}

.logo-footer-dec {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;

  font-style: normal;
  line-height: 1.7;
  color: var(--text-whte);
}

.footer-contact-iteams .link {
  text-decoration: none;
  line-height: 1.7;
  color: var(--footer-text-color);
  transition: color 250ms var(--cubic-bezier);
}

.contact-iteam {
  padding-top: 9px;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* -----------------footer-soc----------- */

.footer-soc {
  margin-left: 70px;
}

.footer-soc-title {
  padding-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--foorer-soc-title-color);
}

.footer-soc-icon-list {
  display: flex;
  justify-content: center;
}

.footer-soc-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-soc-bg-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-bezier);
}
.footer-soc-icon-iteam:not(:first-child) {
  margin-left: 10px;
}
.footer-soc-icon {
  fill: var(--foorer-soc-icon-color);
}

.footer-soc-icon-link:hover,
.footer-soc-icon-link:focus {
  background-color: var(--accent-color);
}
/* ----------------------------------------*/
.footer-form {
  margin-left: 93px;
}
.footer-form-container {
  display: flex;
}
.footer-form-field {
  display: flex;
  flex-direction: column;
}

.footer-form-label {
  padding-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--foorer-soc-title-color);
}

.footer-form-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;

  background-color: var(--footer-background);
  border: 1px solid var(--footer-form-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  color: var(--footer-form-input);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1 25;

  letter-spacing: 0.03em;

  transition: border-color 250ms var(--cubic-bezier);
}
.footer-form-input:focus {
  border-color: var(--accent-color);
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--footer-form-input-placeholder);
}
.footer-form-button {
  display: flex;
  align-items: flex-end;
  margin-left: 12px;
}

.footer-button-icon {
  margin-left: 10px;
}

.footer-submit-button {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;

  padding: 10px 28px;
  border: 0;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--text-whte);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--cubic-bezier);

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: var(--button-hover);
}
/* -------------------modal--------------- */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0, 1.5);
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;

  border-radius: 4px;
  background-color: var(--modal-bg-color);

  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform 250ms var(--cubic-bezier);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid var(--modal-border-color);
  fill: var(--modal-close-btn);
  background-color: var(--modal-close-bg);

  cursor: pointer;

  transition: fill 250ms;
}

.close-modal-btn:hover {
  fill: var(--accent-color);
}
/* --------------------------------------------- */

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;

  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic-bezier);

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--form-icons-color);
  transition: fill 250ms var(--cubic-bezier);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

/* ----------------------------------------------- */

.comment-field {
  margin-bottom: 20px;
}

.comment-input {
  width: 100%;
  height: 120px;
  resize: none;

  padding: 16px 12px;

  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  outline: none;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.comment-input:focus {
  border: 1px solid var(--accent-color);
}
.comment-input::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;

  color: var(--placeholder-color);
}

/* ------------------------------------------------ */
.check-agreement {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.check {
  display: flex;
  align-items: center;
}
.check-box {
  width: 16px;
  height: 15px;

  background-color: var(--check-off-bg);
  border: 2px solid;
  border-radius: 2px;
  border-color: var(--check-off-border);
  transition: background-color 250ms var(--cubic-bezier);
}
.check-lable {
  padding-left: 7px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox-lable-link {
  color: var(--accent-color);
}

.check-input:checked + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: contain;
  background-position: 50% 50%;
  border: 1px solid;
  border-radius: 2px;
  border-color: transparent;
}
.check-input:focus + .check-box {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------------------------------------------- */
.submit-button {
  display: block;
  margin: 0 auto;

  padding: 10px 55px;
  border: 0;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--text-whte);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--cubic-bezier);

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--button-hover);
}
