 ////////BACKGROUND-COLORS
 $color_primary_bg: #ffffff;
 $color_secondary_bg: #f5f4fa;
 $color_footer_bg: #2f303a;
 $color_icon_bg: rgba(255, 255, 255, 0.1);
 $color_overlay_bg: rgba(33, 150, 243, 0.9);
 $color_label_bg: #2f303acc;
 $color_primary_icons: #AFB1B8;
 $color_form_icons_bg: #212121;
 $color_buttons_bg: #2196F3;
 $color_madal_close_btn_bg: #000000;
 $modal_backdrop_bg: rgba(0, 0, 0, 0.2);
 ////////TEXT-COLORS
 $color_title: #212121;
 $color_secondary_title: #ffffff;
 $color_primary_text: #757575;
 $color_footer_text: rgba(255, 255, 255, 0.6);
 /////////COMMON COLOR
 $color_accent: #2196F3;
 $color_button_hover: #188CE8;
 $color_form_border: rgba(255, 255, 255, 0.3);
 $color_modal_form_border: rgba(33, 33, 33, 0.2);


 /////////////////////////////////////////////////////////
 // ---background colors
 $ColorPrimaryBG: #ffffff;
 $ColorSecondaryBackground: #f5f4fa;
 $ColorFooterBackground: #2f303a;
 // accent color
 $ColorAccent: #2196f3;
 // button color
 $ColorButton: #2196f3;
 $ColorButtonHover: #188CE8;
 $ColorButtonContent: #ffffff;
 // ---header
 $ColorLogoHeader: #000000;
 $ColorHeaderBorder: rgba(236, 236, 236, 1);
 $ColorLogoFooter: #ffffff;
 $ColorHeaderBackground: #ffffff;
 // ---logo
 $ColorLogo: #2196f3;
 // ---header nav
 $ColorNavText: #212121;
 // ---header contacts
 $ColorContactTextIcon: #757575;
 // hero
 $ColorHeroBackground: #2f303a;
 $ColorHeroTitle: #ffffff;
 // future
 $ColorFutureIconBackground: #f5f4fa;
 // services
 $ColorServicesLeableText: #ffffff;
 $ColorServicesLeableBackground: rgba(47, 48, 58, 0.8);
 // clients
 $ColorClientIcon: #afb1b8;
 // filter 
 $ColorFilterBtn: #f5f4fa;
 $ColorFilterTextBtn: #ffffff;
 // examples
 $ColorOverlayBackground: rgba(33, 150, 243, 0.9);
 $ColorOverlayText: #ffffff;
 $ColorExamplesBorder: rgba(236, 236, 236, 1);
 // footer
 $ColorFooterText: #ffffff;
 $ColorFooterContact: rgba(255, 255, 255, 0.6);
 $ColorFooterPlaceholder: rgba(255, 255, 255, 0.6);
 // footer soc
 $ColorFooterSocIconBg: rgba(255, 255, 255, 0.1);
 $ColorFooterSocIcon: #ffffff;
 // footer form
 $ColorFooterBorder: rgba(255, 255, 255, 0.3);
 // modal
 $ColorModalBackdrop: rgba(0, 0, 0, 0.2);
 $ColorModalCloseBtn: #000000;
 $ColorModalCloseBtnBorder: rgba(0, 0, 0, 0.1);
 // modal form
 $ColorModalFormBorder: rgba(33, 33, 33, 0.2);
 $ColorModalFormPlaceholder: rgba(117, 117, 117, 0.5);
 // modal check-agreement
 $ColorModalChekOffBorder: #212121;
 // soc
 $ColorSocBackground: #ffffff;
 $ColorIcon: #AFB1B8;
 // icon
 $ColorIcon: #afb1b8;
 // text color
 $ColorTitle: #212121;
 $ColorPrimaryText: #757575;

 $CubicBezier: cubic-bezier(0.4, 0, 0.2, 1);